body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2365px;
}
#u8 {
  position:absolute;
  left:10px;
  top:10px;
  width:1440px;
  height:2365px;
}
#u9 {
  position:absolute;
  left:2px;
  top:1174px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
